/* i haven't coded in months so i need to refresh my memory */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.container {
    display: grid;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.box1 {
    border: 1px solid rebeccapurple;
    text-align: left;
    width: 30rem;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-self: center;
    align-items: center;
    background: linear-gradient(#193366cf, #193366cf), url(pic.jpg);
    background-size: cover;
}
.box2 {
    height: 100vh;
    width: 18rem;
    border: 0px solid red;
    display: inline-block;
    vertical-align: middle;
}
form {
    vertical-align: middle;
}
h1 {
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
}
label:not(.chckbx) {
    font-size: 0.6rem;
    color: #ffffff6f;
}
.uname, .pass {
    margin-bottom: 0.5rem;
}
input:not(.chckbx) {
    width: 18rem;
    height: 2.1rem;
    background-color: #ffffff34;
    border: 0;
    border-radius: 20px;
}
.chckbx {
    color: white;
    margin: 0.1rem 0 0.8rem 0;
    font-size: 0.9rem;
}
button {
    width: 18rem;
    height: 2.1rem;
    background-color: #0d6efd;
    color: white;
    font-size: 0.8rem;
    border: 0;
    border-radius: 20px;
}

/*.container {
    position: relative;
    display: grid;
    grid-template-columns: 25rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    min-height: 100vh;
}
.box1 {
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.box2 {
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid red;
    text-align: start;
    width: fit-content;
}*/