/* i haven't coded in months so i need to refresh my memory */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.container {
    display: grid;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.box1 {
    border: 1px solid rebeccapurple;
    text-align: left;
    width: 35rem;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-self: center;
    align-items: center;
    background: linear-gradient(#193366cf, #193366cf), url(pic.jpg);
    background-size: cover;
}
.box2 {
    height: 100vh;
    width: 25rem;
    border: 0px solid red;
    display: inline-block;
    vertical-align: middle;
}
form {
    vertical-align: middle;
}
h1 {
    margin-top: 4rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #0d6efd;
    text-decoration-thickness: 3px;
}
label:not(.chckbx) {
    font-size: 0.6rem;
    color: #ffffff92;
}
.uname, .pass {
    margin-bottom: 0.5rem;
}
input:not(.chckbx) {
    width: 23rem;
    height: 2.7rem;
    background-color: #ffffff1f;
    border: 0;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff42;
}
.chckbx {
    color: white;
    margin: 0.1rem 0 0.8rem 0;
    font-size: 0.9rem;
}
button {
    width: 25rem;
    height: 2.7rem;
    background-color: #0d6efd;
    color: white;
    font-size: 0.8rem;
    border: 0;
    border-radius: 20px;
}
button:hover {
    background-color: #0f66e8;
    cursor: pointer;
}
.pass-forgot {
    text-align: center;
}
hr {
    border-top: 2px solid #ffffff42 ;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 25rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.pass-forgot a {
    color: #ffffff42;
    text-decoration: #ffffff00;
    font-size: 0.9rem;
}



/*.container {
    position: relative;
    display: grid;
    grid-template-columns: 25rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    min-height: 100vh;
}
.box1 {
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.box2 {
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid red;
    text-align: start;
    width: fit-content;
}*/